# File di sistema macOS
.DS_Store

# Cache Python
__pycache__/
*/__pycache__/
**/__pycache__/

# Cache Mypy
.mypy_cache/
*/.mypy_cache/
**/.mypy_cache/

# Cartelle da ignorare
Codici_Prova/
Codici_Studenti/
Slides_FFC/
old/

# Script di setup Python
setup/

# cartella temporanea per tutoraggio
TUTORAGGIO/
